* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 300px;
    width: 900px;
    background-color: rgb(210, 218, 226);
    margin: auto;
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    color: white;
}

.item-1 {
    height: 100%;
    width: 45%;
    background-color: red;
    align-content: center;
}

.item-2 {
    height: 100px;
   
    background-color: chartreuse;
    margin-left: 10px;
    align-content: center;
}

.right {
    width: 100%;
    
}

.item-3 {
    height: 140px;
    width: 50%;
    background-color: plum;
    margin-top: 20px;
    margin-left: 10px;
    align-content: center;
}

.bottom {
    display: flex;

    gap: 20px;
    margin-top: 10px;
}

.small {
    width: 50%;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.small div {
    height: 60px;
    align-content: center;
    background-color: blue;

}