* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 350px;
    width: 75%;
    background-color: rgb(205, 46, 72);
    border: 3px solid black;
    margin: auto;
    text-align: center;
    color: white;
}


.right {
    height: 100%;
    width: 30%;
    border: 4px solid black;
    text-align: center;

}

.lower-section {
    height: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding-right: 70px 50px;
}

.box-1 {
    height: 35%;
    border: 3px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;


}

.center {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    flex-direction: column;
    height: 100%;

}

.box-3 {
    display: flex;
    border: 3px solid black;
    height: 65%;
    justify-content: flex-end;
    align-items: flex-end;
}

.second-last {
    height: 100%;
    width: 30%;
    border: 4px solid black;

}

.box-5 {
    height: 25%;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.box-4 {
    height: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.box-6 {
    height: 75%;
    border: 3px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.left {
    height: 100%;
    width: 30%;
    border: 4px solid black;

}

.box-7 {
    height: 65%;
    border: 3px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.box-8 {
    height: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}